<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="part/fragments :: head"></head>
<body>
    <div class="container">
        <div th:replace="part/fragments :: top-menu"></div>
        <script th:src="@{/js/all-rooms.js}"></script>
        <div class="row">
            <div class="col">
                <h4 class="text-center text-dark">All saved rooms:</h4>
                <table class="table table-sm" id="roomsTable">
                    <thead class="thead-dark text-center">
                    <tr>
                        <th style="width:10%">#</th>
                        <th style="width:10%">Number of Corners</th>
                        <th style="width:80%">Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    </tbody>
                </table>
                <script th:inline="javascript">getAllRooms();</script>
            </div>
        </div>
        <div class="modal" id="viewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <canvas id="myCanvas" width="200" height="200"></canvas>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-dark"
                                data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>